body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    background-image: url(soft.avif);
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffd6;
    border-bottom: 1px solid #ddd;
}

.audio-container,
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px 0;
}

header .logo img {
    height: 60px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 60px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.social-media a img {
    height: 20px;
    margin-left: 10px;
}

main {
    padding: 40px;
}

h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
}

.latest {
    max-width: 1200px;
    margin: 0 auto;
}

.latest h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
}

.card-content {
    padding: 20px;
}

.card-content h3 {
    font-size: 20px;
    color: #d32f2f;
    margin-bottom: 10px;
}

.card-content img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.card-content p {
    font-size: 16px;
    color: #333;
}
footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 0;
    color: #333;
    font-size: 14px;
}
